[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
black = "*"
flask = "*"
flask-graphql = "*"
graphene = "*"
faker = "*"
mininet = "*"

[requires]
python_version = "3.6.8"

[pipenv]
allow_prereleases = true
